body {
    font-family: 'Open Sans', sans-serif;
}

#intro {
    background: linear-gradient(90deg, rgba(0,2,65,1) 0%, rgba(19,33,128,1) 35%, rgba(40,126,207,1) 100%);
    padding: 5%;
    
    max-width: 100%;

    display: flex;
    justify-content: center;

}

#intro-text {
    color: #f7cb4d; 
    display: table-cell;

    width: 100%;
    text-align: center;
    margin-right: 5%;
}

/* Section 1 starts here */
#section1, #section2 {
    color: #132180;
    padding-left: 5%;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
}

#section1-title {
    width: 100%;
}

#section1-text, #section2-text {
    width: 75%;
    color: black;
    line-height: 2;
    font-size: 1vw;
}

/* Section 2 starts here */
#section2-result, #section3-result  {
    display: flex;
    padding-right: 5%;
}

#section2-text, #section3-text {
    width: 50%;
    flex-grow: 1;
    margin-right: 10%;
}

#section-img {
    max-width: 40%; 
    height: auto;
    object-fit:contain;
}

#section3 {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 5%;

    margin-top: 5%;
    margin-bottom: 5%;

    text-align: left;
    background: linear-gradient(90deg, rgba(0,2,65,1) 0%, rgba(19,33,128,1) 35%, rgba(40,126,207,1) 100%);
    color: #f7cb4d;
}

#section3-title {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 3%;
}

#section3-intro {
    text-align: center;
    color: whitesmoke;
    width: 70%;
    margin: auto;
    font-size: 1.5vw;
}

#section3-text {
    color: white;
    font-size: 1vw;
    line-height: 2;
}
