body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background: #bfc0fa;
}

#intro {
    background: rgb(255,224,140);
    background: linear-gradient(60deg, rgb(243, 218, 151), rgb(149, 110, 2) , rgb(244, 217, 141));
    padding : 2%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#intro-text {
    color: #060768;
    margin-top: 4%;
    text-align: center;
}

#intro-paragraph{
    color:#060768;

    margin: 4%;
    padding: 2%;
}

#sectionTitle {
    background: rgb(255,224,140);
    background: radial-gradient(circle, rgba(255,224,140,1) 0%, rgb(241, 192, 29) 48%, rgb(238, 185, 11) 75%, rgb(154, 113, 2) 100%);

    padding: 2%;
    color: #060768;
    text-align: center;
}

#sectionSubtitle {
    color:rgb(255,224,140) ;
    margin-left:3%;
    padding: 1%;
}

#answer-text {
    color:rgb(255,224,140) ;
    width: 40%;
    margin-right: 10%;
    margin-left: 5%;
}

#answer {
    display: flex;
}

#longAnswer {
    display: flex;
}

#wossQuestions.column1 {
    width: 50%;
    padding: 2%;
}

#wossQuestions.column2 {
    width: 50%;
    padding: 2%;
}

#seriousQuestions.column1 {
    width: 33%;
}

#seriousQuestions.column2 {
    width: 33%;
}

#seriousQuestions.column3 {
    width: 33%;
}

#wossQuestions {
    background: #bfc0fa;
    background: linear-gradient(#bfc0fa, #7f81e1);
}

#seriousQuestions {
    background: #7f81e1;
    background: linear-gradient(#7f81e1, #494ab6);
}

#uniQuestions {
    background: #494ab6;
    background: linear-gradient(#494ab6, #3133ab);
}

#cultureQuestions {
    background: #3133ab;
    background: linear-gradient(#3133ab, #494ab6);
}

#personalQuestions {
    background: #494ab6;
    background: linear-gradient(#494ab6, #7f81e1);
}
